/* Colores */
.hendre_nav_manu {
    background: #616A69 !important;
    border: 1px solid #B2B4B3;
}

.slider-area.one .slider-title h1 span {
    color: #000;
}

.sub-title h2 span {
    color: #000;
}

.slider-area.one {
    background: #616A69;
}

.slider-area.one .row.bor-der {
    border: 1px solid #B2B4B3;
}

.slider-area.one .single-slider {
    background: #616A69;
    border: 1px solid #B2B4B3;
}

.slider-area.one .slider-title h4 {
    color: #fff;
}

.slider-area.one .slider-number h1 {
    -webkit-text-stroke-color: #fff;
}

.feature-area.one {
    background: #616A69;
}

.feature-area.one .feature-content p {
    color: #fff;
}

.feature-area.one .feature-content h4 {
    color: #B2B4B3;
    background: #616A69;
    border: 1px solid #B2B4B3;
}

.feature-area.one .feature-content h4:hover {
    color: #000 !important;
    background: #B2B4B3;
}

.feature-area.one .feature-content h4::before {
    background: #B2B4B3;
}

.feature-area.one .single-feature-box:hover .feature-content h4::before {
    background: #000;
}

.feature-area.one .feature-content h4::after {
    background: #B2B4B3;
}

.about-area.one {
    background: #616A69;
}

.post-comment-description p {
    color: #fff;
}

.tab-title p {
    color: #fff;
}

.sub-title h2::before {
    background: #fff;
}

.about-area.one .about-button a::before {
    background: #fff;
}

.about-area.one .about-button::before {
    border: 1px solid #fff;
}

.counter-area.one {
    background: #616A69;
}

.counter-area.one .row.bg-col {
    background: #B2B4B3;
}

.counter-area.one .counter-text h1 {
    color: #000;
}

.counter-area.one .counter-text h1::before {
    background: #B2B4B3;
}

.counter-area.one .counter-text h4::before {
    background: #000;
}

.counter-area.one .counter-title h4 {
    color: #000;
}

.feature-area.one.upper {
    background: #B2B4B3;
}

.section-title.upper .main-title h1 {
    color: #000;
}

.feature-area.one.upper .feature-content h4 {
    background: #fff;
}

.feature-area.one.upper .feature-content h4::after {
    background: #fff;
}

.feature-area.one.upper .single-feature-box:hover .feature-content h4::after {
    background: #000;
}

.project-area.one {
    background: #616A69;
}

.project-area.one .projects-btn a {
    border: 1px solid #B2B4B3;
}

.project-area.one .projects-btn a::after {
    border-color: #B2B4B3;
}

.testimonial-area.one .test-box {
    background: #616A69;
}

.testimonial-area.one .testimonial-content {
    border: 1px solid #616A69;
}

.testimonial-area.one .testimonial-content:hover {
    border: #fff;
}

.testimonial-area.one .testimonial-description p {
    color: #fff;
}

.testimonial-area.one .testimonial-tmb::before {
    background: #fff;
}

.testimonial-area.one .testimonial-title h3 {
    color: #000;
}

.testimonial-area.one .testimonial-title span {
    color: #fff;
}

.service-area.one {
    background: #616A69;
}

.service-area.one .service-description p {
    color: #fff;
}

.service-area.one .icon-list ul li i {
    color: #B2B4B3;
}

.service-area.one .service-title h3 span {
    color: #B2B4B3;
}

.owl-dot.active {
    background: #fff;
}

.contact-area-inner .form_box input {
    background: #616A69;
}

.contact-area-inner .form_box textarea#message {
    background: #616A69;
}

.contact-area-inner .quote_button {
    background: #616A69;
}

.contact-area-inner .quote_button .btn {
    color: #fff;
}

.map-section {
    background: #616A69;
}

.footer-section {
    background: #616A69;
    border: 1px solid #B2B4B3;
}

.footer-section .widgets-company-title h3::before {
    background: #B2B4B3;
}

.footer-section .widgets-company-icon-list ul li {
    color: #fff;
}

.footer-section .company-info-desc p {
    color: #fff;
}

.footer-section .subscribe_form-title h3 {
    color: #fff;
}

.form_box input {
    border: 1px solid #B2B4B3;
}

button.btns {
    background: #616A69;
    border: 1px solid #B2B4B3;
    color: #fff;
}

button.btns:hover {
    border: #616A69;
    color: #000;
}

button.btns::before {
    background: #B2B4B3;
}

.footer-section .widgets-company-icon-list ul li i {
    color: #B2B4B3;
}

.footer-section .footer-icon-list ul li a {
    color: #000;
    background: #B2B4B3;
    border: 1px solid #B2B4B3;
}

.footer-section .footer-icon-list ul li a:hover {
    color: #fff;
    background: #616A69;
    border: 1px solid #B2B4B3;
}

.footer-section .copy-rights h4 {
    color: #fff;
}

.footer-section .row.mg-tp.align-items-center {
    border-top: 1px solid #B2B4B3;
}

.prgoress_indicator svg.progress-circle path {
    stroke: #fff;
}

.prgoress_indicator::after {
    color: #fff;
}

.prgoress_indicator {
    box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.2);
}

.hendre_menu>ul>li>a:hover {
    color: #fff;
}

.hendre_menu>ul>li>a::after {
    background-color: #fff;
}

.header-button a:hover {
    color: #B2B4B3;
}

.slider-area.one .slider-icon-list ul li a:hover {
    color: #B2B4B3;
}

.project-area.one .project-content {
    background: #616A69;
    border: 1px solid #B2B4B3;
}

.project-area.one .project-button a {
    color: #B2B4B3;
}

.project-area.one .project-button a:hover {
    color: #fff;
}

.project-area.one .project-content h4 {
    color: #fff;
}

.project-area.one .project-button::before {
    border: 1px solid #B2B4B3;
}

.project-area.one .project-button a::after {
    background: #B2B4B3;
}

.tag-area.one .marquee-block .content-box h6.title:hover {
    color: #B2B4B3;
}

.about-area.one .about-button a::after {
    background: #fff;
}

.mean-container .mean-bar {
    background: #616A69;
}

.about-area.one .about-thumb::before {
    background: #616A69;
}

.project-area.one .project-thumb::before {
    background: #616A69;
}

.form_box input::placeholder {
    color: #fff !important;
}

.footer_section_five .form_box input::placeholder {
    color: #fff !important;
}

::placeholder {
    color: #fff !important;
}

.list-unstyled li {
    color: #000 !important;
}

/* Fin Colores */

/* Acomodo */
.centerObject {
    display: flex;
    justify-content: center;
    align-items: center;
}

.centerText {
    text-align: center;
}

.margin0 {
    margin: 0 !important;
}

.margin5 {
    margin: 5%;
}

@media (max-width: 500px) {
    .margin5 {
        margin: 0 !important;
    }
}

.padding1 {
    padding: 1% !important;
}

.padding-Top-0 {
    padding-top: 0 !important;
}

.padding-Top-5 {
    padding-top: 5% !important;
}

.padding-Bottom-10 {
    padding-bottom: 10% !important;
}

.padding-Bottom-5 {
    padding-bottom: 5% !important;
}

.width-100 {
    width: 100% !important;
}

.testimonial-area.one.lotes .testimonial-tmb::before {
    background: none;
}

.lotes .container {
    width: 100% !important;
}

.lotes .container .row.align-items-center {
    max-width: 100% !important;
}

.footer-section.footer .widgets-company-title h3::before {
    background: none;
}

.headerLogo {
    max-width: 100%;
    height: auto;
}

.footerLogo {
    max-width: 50%;
    height: auto;
}

li a {
    color: unset;
}

li a:hover {
    color: #43baff;
}

.textJustify {
    text-align: justify;
}

.mapDescription {
    font-size: 2rem;
    line-height: 1.8;
}

@media (max-width: 500px) {
    .mapDescription {
        font-size: 1.5rem;
        list-style-type: none;
        padding-left: 20px;
    }

    .mapDescription li {
        position: relative;
        margin-bottom: 10px;
        padding-left: 30px;
    }

    .mapDescription li::before {
        content: "•";
        position: absolute;
        top: 0;
        left: 0;
        font-size: 3rem;
        line-height: 0.8;
    }
}

.counter-area.one .counter-text h1::before {
    left: -5%;
    top: -2%;
}

#privadasCarousel {
    margin-bottom: 50px; /* Espacio entre el carrusel y la siguiente sección */
}

#privadasCarousel .carousel-control-prev,
#privadasCarousel .carousel-control-next {
    bottom: -70px; /* Ajusta este valor para separar los botones de las opciones del carrusel */
    top: auto; /* Asegura que no se superpongan en la parte superior */
}

#privadasCarousel .carousel-control-prev-icon,
#privadasCarousel .carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro para mejor visibilidad */
    border-radius: 50%; /* Hace los íconos circulares */
    padding: 10px; /* Espaciado interno */
}

#privadasCarousel .carousel-inner {
    padding-bottom: 30px; /* Espacio adicional entre las opciones del carrusel y los botones */
}

/* Fin Acomodo */

/* Correcciones */
.slider-area.one .slider-button::before {
    content: none;
}

.appoinment-tab .tabs li.boder a::before {
    content: none;
}

.mean-container .mean-bar::before {
    content: "Valdepeñas";
}

.tag-area.one {
    background: url(../images/tagSection/llaves.webp);
}

.testimonial-area.one {
    background: url(../images/testimoniosSection/testimonios.webp);
}

.breadcumb-area {
    background: url(../images/contactoSection/titulo.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.contact-area-inner {
    background: url(../images/contactoSection/contacto.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.footer-section .widgets-company-title h3 {
    font-size: 2.5rem;
}

.footer-section .widgets-company-icon-list ul li {
    font-size: 1.2rem;
}

@media (max-width: 500px) {
    .footer-section .widgets-company-icon-list ul li {
        font-size: 0.8rem;
    }
}

/* Fin correciones */

/* Nuevos estilos */
.blackColor {
    color: #000 !important;
}

.corregirApartado {
    padding: 0% !important;
    padding-top: 10% !important;
    background-color: unset !important;
}

.about-area.one.corregirApartado .about-button::before {
    border: unset;
}

.custom-section {
    padding: 50px 0;
    background-color: #f9f9f9;
}

.custom-title {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
}

.custom-subtitle {
    font-size: 1.8rem;
    color: #555;
    margin-bottom: 15px;
}

.custom-description {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 30px;
    line-height: 1.6;
}

.custom-image {
    width: 90%;
    max-width: 1200px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}